<nav>
    <a href="/">viuavm.org</a>
    <span class="spacer">:</span>
    <a href="/introduction.html">introduction</a>
    <span class="spacer">:</span>
    <a href="{{ site.documentation_url }}">documentation</a>
    <span class="spacer">:</span>
    <a href="/code.html">code</a>
</nav>
