<!DOCTYPE html>
<html>
    {% include head.html %}

    <body class="index">
        {% include navigation.html %}

        <section class="index">
            <h1>Viua VM</h1>
            <h4 class="boast">
                <span>register-based virtual machine</span>
                <span class="spacer">:</span>
                <span>programmable in high-level assembly</span>
                <span class="spacer">:</span>
                <span>written in modern C++</span>
                <span class="spacer">:</span>
                <span>published under GNU GPL v3</span>
            </h4>
        </section>

        <nav class="index">
            <a href="/introduction.html">Introduction</a>
            <a href="{{ site.documentation_url }}">Documentation</a>
            <a href="/code.html">Code</a>
        </nav>

        {% include footer.html %}
    </body>
</html>
