<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        <section class="index">
            <h1>Viua VM</h1>
            <span>register-based virtual machine : programmable in custom asm language : written in C++</span>
        </section>

        <nav class="index">
            <a href="/about.html">About</a>
            <a href="http://docs.viuavm.org/">Documentation</a>
            <a href="https://github.com/marekjm/viuavm">Code</a>
        </nav>

        {% include footer.html %}
    </body>
</html>
