<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        <section class="index">
            <h1>Viua VM</h1>
            <h4 class="boast">
                <span>register-based virtual machine</span>
                <span class="spacer">:</span>
                <span>programmable in high-level assembly</span>
                <span class="spacer">:</span>
                <span>written in modern C++</span>
            </h4>
        </section>

        <nav class="index">
            <a href="#">Introduction</a>
            <a href="#">Documentation</a>
            <a href="#">Code</a>
        </nav>

        {% include footer.html %}
    </body>
</html>
